In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime, timedelta
from dateutil import relativedelta

In [2]:
dt = pd.read_csv('C:/Users/tocba/Documents/GitHub/MCI_Python_VIP_25_Level_1/Assignments/Session_04/sample_data.csv', parse_dates=['timestamp'])
dt.head(2)

,account_id,ad_id,event_name,timestamp,platform,category_name,region_name,condition_ad_name,price
0,249683985899310273,-159265360436186278,order,2018-05-16 17:33:18.350333,on_behalf,Cars,Đông Bắc Bộ,Mới,267000000.0
1,2753457128963724056,-6487219347028929285,order,2018-05-04 16:03:08.099983,on_behalf,Cars,Đông Bắc Bộ,Mới,399000000.0

### Task 1: 

Tạo thêm một column có tên ‘account_type’ để ghi nhận một account_id xuất hiện trong mỗi dòng là account cũ hay mới. \
Định nghĩa một account gọi là cũ nếu có tương tác (đăng tin rao vặt ad_id) trong 30 ngày gần nhất, nếu trong 30 ngày không có tương tác tạm gọi là account mới. \
Dựa vào thông tin account_type vẽ biểu đồ thể hiện sự thay đổi, số account cũ và mới theo tháng, theo tuần, theo ngày (nếu số ngày quá nhiều có thể bỏ qua để hình vẽ được gọn gàng). \
Lưu ý có thể tham khảo https://python-graph-gallery.com/ để lựa chọn biểu đồ phù hợp để thể hiện số account cũ/ mới theo thời gian. \
Dựa trên biểu đồ nhận xét, số user cũ mới có xu hướng thế nào (bắt đầu từ tháng nào có tăng/giảm, v.v…)

In [3]:
dt.sort_values(by=['account_id','timestamp'],ascending=[True,False],inplace=True)

In [4]:
account_type = lambda x: x.timestamp - x.timestamp.shift(-1)               #lay ngay sau tru ngay truoc
account_type = dt.groupby('account_id').apply(account_type)                #nhom theo account_id
days = account_type.to_frame().reset_index()['timestamp'].dt.days          #lay ngay
dt['account_type'] = np.where(days>30,'new',np.where(days<=30,'old',days)) #dieu kien

In [5]:
dt

,account_id,ad_id,event_name,timestamp,platform,category_name,region_name,condition_ad_name,price,account_type
1406849,-9223336493830730905,3088179676471213070,insert,2018-01-21 17:21:35.069056,unknown,Mobile Phones,Hà Nội,NaN,5900000.0,old
1343878,-9223336493830730905,-5279128860130030977,insert,2018-01-03 17:00:08.497463,unknown,Tablets,Hà Nội,NaN,2470000.0,old
1408567,-9223336493830730905,-2462399768676748292,insert,2018-01-02 11:21:05.008605,unknown,Mobile Phones,Hà Nội,NaN,4700000.0,nan
2560039,-9223105201273952408,-177089586640378831,insert,2018-06-13 10:28:39.587018,unknown,Cars,Tp Hồ Chí Minh,Đã sử dụng,300000000.0,new
3168169,-9223105201273952408,3166031885300745638,insert,2018-04-28 09:04:42.139687,unknown,Mobile Phones,Tp Hồ Chí Minh,NaN,1000000.0,old
...,...,...,...,...,...,...,...,...,...,...
2990030,9222818434278833078,3152323916706631008,insert,2018-01-08 13:33:30.415976,unknown,Mobile Phones,Tp Hồ Chí Minh,NaN,1600000.0,old
2008496,9222818434278833078,-2689649165537767256,insert,2018-01-04 13:07:10.062598,unknown,Mobile Phones,Tp Hồ Chí Minh,NaN,1700000.0,nan
3060637,9222846988747675895,-6943754032404835247,insert,2018-01-01 13:29:03.072149,unknown,"Cameras, Video Cameras",Tp Hồ Chí Minh,NaN,4500000.0,nan
1056603,9223034564554224042,-2662422231389708119,insert,2018-01-11 21:00:28.675785,unknown,Office Equipments,Hà Nội,Đã sử dụng,NaN,old
1077607,9223034564554224042,5650212949988821826,insert,2018-01-07 20:23:50.940500,unknown,Office Equipments,Hà Nội,Đã sử dụng,NaN,nan

### Task 2:

Làm lại task 1, nhưng theo dõi số account cũ mới theo từng category_name. \
Để có dữ liệu tốt, nên chọn 10 ngành hàng phổ biến (có số lượng account_id tương tác nhiều)\
Lựa chọn biểu đồ để thể hiện sự thay đổi của số account cũ/mới theo ngành hàng từ đó phát hiện ra ngành hàng \
nào có tính bão hòa (số account cũ/mới ổn định), ngành hàng nào có khả năng thu hút thêm được nhiều account mới.

### Task 3: 
Dùng biểu đồ kiểm chứng mối tương quan giữa giá của một ad_id và số lần đăng trong năm.\
Với mỗi ad_id sẽ có một giá (price), và có thể ad_id xuất hiện nhiều lần trong data do phải đăng bán nhiều lần vì chưa bán được.\
Ta muốn kiểm chứng bằng dữ liệu, các sản phẩm có giá cao sẽ khó bán (ad_id xuất hiện nhiều lần)

### Task 4: 
Làm lại task 3, nhưng thêm một dimension là theo dõi mối tương quan giữa giá và số lần xuát hiện của ad_id cho mỗi ngành hàng.\
Lựa chọn biểu đồ phù hợp để thể hiện insights.\
Mong muốn tìm ra việc khó bán là do giá cao hay do tính chất đặc thù của ngành hàng?